@import 'bootstrap';

html{
    height: 100%;
    margin-bottom: 500px;
}
.opciones {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:  rgb(255, 255, 255);
    color: rgba(44, 52, 54);
}

body {
    color:black;
}

h2{
    color: black ;
    font-weight: bold;
}

body{
    background-color: white;
}

label{
    padding: 5px;
}

.footer{
    background-color:#CEE5F2;
}