@import 'bootstrap';

html{
    height: 100%;
    margin-bottom: 500px;
}
body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 25px;
}

 .card {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .card p {
        color: #000;
        margin-bottom: 5px;
    }

    .card h3 {
        color: black; 
        font-size: 24px; 
        margin-bottom: 10px; 
    }

    .card img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        border-radius: 5px;
    }

    .finalizarRutina {
        background-color: white;
        padding: 5px;
        margin-top: 10px;
        font-weight: bold;
        border-radius: 7px;
        color: #000;
        border: solid 2px black;
    }


    .opciones {
    /* Estilos para el borde */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Estilos para el fondo y texto */
    background-color:  rgb(255, 255, 255);
    color: rgba(44, 52, 54);
    /* Otros estilos según sea necesario */
}

.footer{
    background-color:#CEE5F2;
}