@import 'bootstrap';
body{
    background-color: white;
}
html{
    height: 100%;
    margin-bottom: 500px;
}
.card {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .card h3 {
        font-weight: bold;
        margin-bottom: 10px;
        color: black;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }

    .card p {
        margin-bottom: 10px; 
    }

    .opciones {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:  rgb(255, 255, 255);
    color: rgba(44, 52, 54);
}

.footer{
    background-color:#CEE5F2;
}